<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Lab16_one_many_bidirectional_annotation/src/com/jlcindia/hibernate/Lab16A.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.jlcindia.hibernate.Lab16A"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lab16_one_many_bidirectional_annotation"/>
</launchConfiguration>
